---
import Base from "./../layouts/layout-base.astro";
---

<Base
    Title="ZentaRunning"
    isIndex={true}
    description="Web oficial de Zenta Running Team | calendario de ventos, carreras, ejercicios, rutinas, consejos y mas!"
    baseUrl="https://zentas.run"
>
    <h1>Esto es el index</h1>
</Base>
