---

---

<footer>
    <p class="creative">
        <a href="https://zentas.run">Zenta Running WebSite</a> © 2026 by <a
            href="https://biolibre.ar/danh"
        >
            Danh
        </a> is licensed under <a
            href="https://creativecommons.org/licenses/by-nc-nd/4.0/"
            >CC BY-NC-ND 4.0</a
        ><img
            src="https://mirrors.creativecommons.org/presskit/icons/cc.svg"
            alt=""
            style="max-width: 1em;max-height:1em;margin-left: .2em;"
        /><img
            src="https://mirrors.creativecommons.org/presskit/icons/by.svg"
            alt=""
            style="max-width: 1em;max-height:1em;margin-left: .2em;"
        /><img
            src="https://mirrors.creativecommons.org/presskit/icons/nc.svg"
            alt=""
            style="max-width: 1em;max-height:1em;margin-left: .2em;"
        /><img
            src="https://mirrors.creativecommons.org/presskit/icons/nd.svg"
            alt=""
            style="max-width: 1em;max-height:1em;margin-left: .2em;"
        />
    </p>
</footer>
<style>
    footer {
        background-color: light-dark(#ccc, blue);
        display: flex;
        justify-content: center;
        padding-block: 1rem;
        width: 100%;
        .creative {
        }
    }
</style>
